<%= form_with(model: order) do |f| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!-- order form -->

  <div class="field">
    <%= f.label :price_per_btc %> :
    <%= f.number_field :price_per_btc, autofocus: true, autocomplete: "price per btc", in: 0.01..999999999.99, step: 0.01 %>
  </div>
  <br>
  <div class="field">
    <%= f.label :btc_amount %> :
    <%= f.number_field :btc_amount, autofocus: true, autocomplete: "btc amount", in: 0.00000001..9999999.99999999, step: 0.00000001 %>
  </div>
  <br>
  <div class="field">
    <%= f.label :side %> :
    <%= f.select :side, ["buy", "sell"] %>
  </div>

<!-- order form end -->

  <div>
    <%= f.submit %>
  </div>
<% end %>
