<p style="color: green"><%= notice %></p>

<h3>
    price: <%= @order.price_per_coin %>
</h3>
<h3>
    amount: <%= @order.coin_amount %>
</h3>
<h3>
    side: <%= @order.side %>
</h3>

<div>
  <%= link_to "Edit this order", edit_order_path(@order) %> |
  <%= link_to "Back to orders", orders_path %>
</div>
<br>
<div>
  <%= button_to "Destroy this order", @order, method: :delete %>
</div>
